form input {
  height: 40px;
}

.new-transaction {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.new-transaction__title {
  padding: 20px 0px;
  border-bottom: var(--main-border);
}

.new-transaction__subtitle {
  margin: 10px 0;
  font-weight: 600;
}

.new-transaction input {
  border-radius: 5px;
  background-color: var(--content-background-color);
  border: 1px solid var(--content-background-color);
}

.new-transaction__date__box {
  display: flex;
  justify-content: center;
}

.new-transaction__date__box input {
  width: 33%;
  margin-right: 5px;
}

.new-transaction__content__input {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.new-transaction__content__input__button {
  margin-bottom: 10px;
  display: flex;
  background-color: white;
}

.new-transaction__content__input__button :hover {
  background-color: #ffd400;
}

.new-transaction__content__input input {
  width: 100%;
}

.new-transaction__price input{
  width: 100%;
  margin-bottom: 10px;
}

.new-transaction input {
  width: 100%;
}

.submit {
  margin-bottom: 20px;
}




